/* MAIN */
.hero--main .hero__text__prof-pic {
  text-align: center;
}

.hero--main .hero__text__prof-pic img {
  width: 100%;
  height: auto;
  max-width: 23em;
  border-radius: 15px;
}

.hero--main .hero__text__description {
  font-size: 1.2rem;
  margin: 0 auto;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .hero--main .hero__text__description {
    margin: 3em auto 1.5em;
  }
}

.hero--main .hero__text__description #greeting {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.hero--main .arrowDown {
  margin-bottom: 1.5em;
  text-align: center;
}

.hero--main .arrowDown > svg {
  color: white;
  height: 50px;
  bottom: 10px;
  -webkit-animation: down 2s ease infinite;
          animation: down 2s ease infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT ME */
.about-me {
  font-size: 1.2rem;
}

.about-me__section {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1em;
}

.about-me__section__description {
  margin-top: 1.5em;
}

.about-me__section__description--text {
  line-height: 2em;
}

.tech__components {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  max-width: 1400px;
  margin: 3.5em auto 0;
  line-height: 1.6em;
}

.tech__components--component {
  padding: 1em 1.1em;
  text-align: center;
  -webkit-box-shadow: 10px 10px 25px 0px #aaa;
          box-shadow: 10px 10px 25px 0px #aaa;
  border-radius: 20px;
  max-width: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech__components--component--icon {
  margin-bottom: 0.5em;
}

.tech__components--component--icon i {
  font-size: 4em;
}

.tech__components--component--text {
  margin-top: 1em;
}

.tech__components--component h4 {
  font-size: 1.4rem;
  font-weight: 800;
}

.certifications__section {
  text-align: center;
  margin: 5em auto;
  width: 85%;
  max-width: 1200px;
}

.certifications__section--left--item, .certifications__section--right--item {
  padding: 1rem 2em;
  margin: 2em 0;
  -webkit-box-shadow: 10px 10px 25px 0px #aaa;
          box-shadow: 10px 10px 25px 0px #aaa;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .certifications__section--left--item, .certifications__section--right--item {
    padding: 2rem 1em;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .certifications__section--left--item, .certifications__section--right--item {
    min-height: 28.6%;
  }
}

.certifications__section--left--item:hover, .certifications__section--right--item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.certifications__section--left--item img, .certifications__section--right--item img {
  max-width: 11em;
  min-height: 11em;
}

@media (max-width: 992px) {
  .certifications__section--left--item img, .certifications__section--right--item img {
    margin-bottom: 2em;
  }
}

.certifications__section--left--item .row, .certifications__section--right--item .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certifications__section a {
  color: #000;
  text-decoration: none;
}

.certifications__section span.provider {
  font-weight: 600;
}

.certifications__section #grayed-out {
  color: #aaa;
}
/*# sourceMappingURL=index.css.map */