{% load static %}

<footer id="footer contact">
    <div class="footer__section">
        <div class="row no-margin">
            <div class="col-12">
                <div class="row no-margin">
                    <div class="footer__section__column col-12 col-md-6 col-lg-4">
                        <div class="footer__section__column--title">
                            <h3>You can connect with me at the following places:</h3>
                        </div>
                        <div class="footer__section__column--body">
                            <div class="footer__section__column--body--social">
                                <div class="row">
                                    
                                    <!-- Twitter -->
                                    <div class="col-auto twitter">
                                        <a href="https://twitter.com/ChrisPetalotis" data-toggle="tooltip" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    
                                    <!-- LinkedIn -->
                                    <div class="col-auto linkedIn">
                                        <a href="https://www.linkedin.com/in/christos-petalotis-949934ba/" data-toggle="tooltip" title="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                    
                                    <!-- Github -->
                                    <div class="col-auto github">
                                        <a href="https://github.com/ChrisPetalotis" data-toggle="tooltip" title="GitHub" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
                                    </div>

                                    <!-- YouTube -->
                                    <div class="col-auto youtube">
                                        <a href="https://www.youtube.com/channel/UCG1Ly8_ew6qQtp5bAg8bZzQ" data-toggle="tooltip" title="YouTube" target="_blank" rel="noopener"> <i class="fab fa-youtube"></i>	</a>
                                    </div>
                                </div>
                            </div>					
                        </div>
                    </div>
                    <div class="footer__section__column col-12 col-md-6 col-lg-4">
                        <div class="footer__section__column--title" style="width:110%;">
                            <h3>If you prefer email, shoot at:</h3>
                        </div>
                        <div class="footer__section__column--body">
                            
                            <!-- Email -->
                            <div class="col-12 col-md email-box" style="margin-left: 14px;">
                                 <span>
                                    <i class="fas fa-envelope"></i>
                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=chris.petalotis@gmail.com" data-toggle="tooltip"  title="Email" target="_blank" rel="noopener">chris.petalotis@gmail.com	</a>
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="footer__section__column col-12 col-md-12 col-lg-4 meeting">
                        <div class="footer__section__column--title">
                            <h3>Online meeting? Check my availability right <a href="https://calendly.com/christos-petalotis">here</a></h3>
                        </div>
                        <div class="footer__section__column--body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__section--secondary">
        <span class="copyright">Copyright ©{% now 'Y' %}</span>
        <span class="app_info">Build on Django. Deployed on AWS.</span>
    </div>
</footer>