$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$black: #000;
$off-black: #0B0C0D;
$white: #fff;
$off-white: #ececec;
$gray: #D5D5D5;
// $dark-gray: #2E2E2E;
$dark-gray: #1A1D20;
$blue: #1544c0; 